In [1]:
import pandas as pd

In [2]:
training = pd.read_csv('training_set.csv', sep=',', header=0)

In [24]:
training.head()

,sender,mids
0,karen.buckley@enron.com,158713 158697 200301 158679 278595 298162 2002...
1,amr.ibrahim@enron.com,215241 3437 215640 3506 191790 3517 3520 3562 ...
2,andrea.ring@enron.com,270705 270706 270707 270708 270709 270710 2707...
3,sylvia.hu@enron.com,111444 111422 183084 111412 111347 110883 1105...
4,phillip.platter@enron.com,327074 327384 327385 264443 274124 274125 2741...

In [25]:
training.tail()

,sender,mids
120,c..giron@enron.com,333191 333192 333193 333194 333195 333196 3331...
121,barry.tycholiz@enron.com,266107 248346 248348 248343 248345 248341 8282...
122,amy.fitzpatrick@enron.com,322816 179 326870 326874 326878 326879 261019 ...
123,c..williams@enron.com,232816 232807 33953 33945 33951 33937 33922 33...
124,enron_update@concureworkplace.com,47361 47362 47363 45909 82030 45893 172644 172...

In [22]:
training.index

RangeIndex(start=0, stop=125, step=1)

In [23]:
training.ix

In [27]:
training.count()

sender    125
mids      125
dtype: int64

In [28]:
training.mean()

Series([], dtype: float64)

In [29]:
training.ix[0]

sender                              karen.buckley@enron.com
mids      158713 158697 200301 158679 278595 298162 2002...
Name: 0, dtype: object

In [30]:
training.ix[1]

sender                                amr.ibrahim@enron.com
mids      215241 3437 215640 3506 191790 3517 3520 3562 ...
Name: 1, dtype: object